/* MARK: GENERAL */

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  resize: vertical;
}

#wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  padding: 0 20px;
  flex: 1;
}

#page-title {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

#page-content > div {
  margin: 20px 0;
}

/* MARK: HEADER */

header,
header nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

header {
  padding: 0 20px;
  background: lightgray;
}

#header-logo img,
#header-logo {
  height: 100%;
}

header h1 {
  font-size: 3em;
}

header nav {
  flex: 0.8;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  font-size: 1.4em;
}

/* MARK: FOOTER */

footer {
  margin-top: 30px;
  height: 120px;
  background: lightgray;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* MARK: HOME */

.banner {
  background-image: url("/images/bg.jpg");
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
}

.articles p {
  text-indent: 2em;
}

/* MARK: POSTS */

.posts-list {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.posts-list > div {
  background-color: lightblue;
  border-radius: 14px;
  padding: 18px;
}

#new-post-cont {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

#new-post-cont > button {
  height: 30px;
  border: 1px dashed gray;
  border-radius: 10px;
  flex: 1;
}

#new-post:not(.new-post-active) {
  display: none;
}

#post-form {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

#post-form > input,
#post-form > textarea {
  width: calc(100% - (14px * 2));
  padding: 14px;
  border-radius: 10px;
}

#post-form > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  gap: 18px;
}

/* MARK: ERROR */

.error span {
  display: block;
}

.error img {
  width: 100%;
  aspect-ratio: 16/9;
}
